* {
	box-sizing: border-box;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color:aquamarine;
	font-family: "Shadows Into Light", cursive;
}

h1 {
	color: blue;
}

code {
	color: red;
}

.shadows-into-light-regular {
	font-family: "Shadows Into Light", cursive;
	font-weight: 400;
	font-style: normal;
}