body {
	font-family: "Shadows Into Light", cursive;
	color: #333;
}

.wrapper {
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.page {
	flex: 1 1 auto;
}

.container {
	max-width: 1200px;

	margin: 0 auto;
	padding: 0 15px;
}

.header {
	background-color: rgb(141, 141, 141);
}

.menu__list {
	min-height: 80px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
}

.menu__link {
	padding: 0 10px;
	line-height: 50px;
	list-style: none;
	color: azure;
	font-size: 20px;

}

.menu__link:hover{
	text-decoration: underline;
}

.page {background-color: #e2e2e2;}

.section__profile {
	padding: 50px;
	display: flex;
	justify-content: center;
}

.profile__data {
	padding-left: 100px;
}

h1 {
	font-size: 56px;
	color: chocolate;
}

h2 {
	font-size: 40px;
	color: rgb(210, 138, 30);
}

.footer {
	background-color: rgb(141, 141, 141);
}
/*
h1 {
	color: blue;
}

code {
	color: red;
}
	*/

@media (max-width: 1170px) {
	.container {
		max-width: 970px;
	}
}

@media (max-width: 969.99px) {
	.container {
		max-width: 750px;
	}
}

@media (max-width: 749.99px) {
	.container {
		max-width: none;
	}
}
